@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #E0E2DB;

    main {
        h1 {
            font-size: 4rem;
            text-transform: uppercase;
            text-align: center;
            color: #3D348B;
        }

        h2 {
            margin: 0px;
        }

        display: flex;
        align-items: center;
        flex-direction: column;
        color: #191716;
        font-family: 'Lato', sans-serif;

        .inputs {
            display: flex;
            gap: 48px;
        }
        
        .user-rating {
            color: #3D348B;
            display: inline;
        }

        .personal-rating {
            color: #E6AF2E;
            display: inline;
        }

        .price {
            color: #499647;
            display: inline;
        }

        .radiobuttons, .checkboxes {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .user-rating-circle,
        .own-rating-circle {
            // fill: transparent; /* Ensure circles are transparent for pointer events */
            stroke: none; /* Remove circle stroke */
            pointer-events: all; /* Enable pointer events for circles */
            z-index: 1; /* Set a higher z-index to ensure circles are rendered on top */
        }
    }
}