@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #E0E2DB;

    main {
        h1 {
            font-size: 4rem;
            text-transform: uppercase;
            text-align: center;
            color: #3D348B;
        }

        h2 {
            margin: 0px;
        }

        display: flex;
        align-items: center;
        flex-direction: column;
        color: #191716;
        font-family: 'Lato', sans-serif;

        .inputs {
            display: flex;
            width: 25%;
            justify-content: space-between;
            
        }
    }
}